<!-- views/partials/_header.ejs -->


<h1> Tiny Url's Page </h1>

<p>*<a href="/urls">Home</a>*</p>
<% if (user)  { %>

<p>Welcome <%=user.id%>. Your email account is: <%=user.email%> </p>
<form method="POST" action="/logout">
  <input type="submit" value="logout">
</form>
<% } else { %>
<p>*<a href="/register">Sign In</a>*</p>
<p>*<a href="/login">Login</a>*</p>

<% }; %>