<!-- views/partials/_header.ejs -->


<h1> Tiny Url's Page </h1>





<% if (username)  { %>

<p>Thanks for login <%=username%> </p>

<form method="POST" action="/logout">
  <input type="submit" value="logout">
</form>

<% } else { %>

<form method="POST" action="/login">
  UserName:
  <input type="text" name="username">
  <input type="submit" value="Sign In">
</form>

<% }; %>