<!-- Short urls -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

<header>
    <% include ./partials/_header %>
</header>

  <h2>Register</h2>
  <ul>
    <form method="POST" action=  "/register">
      <!-- UserName:
      <input type="username" name="username" placeholder="username"> -->
      Email:
      <input type="email" name="email" placeholder="email">
      Password:
      <input type="password" name="password" placeholder="password">
      <input type="submit">
    </form>



  </ul>


</body>
</html>

