<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
  <h2>Index</h2>


  <% if (user)  { %>

  <p>*<a href="/urls/new">Create new shortlink</a>*</p>
  <% } else { %>
  <p>*<a href="/register">Register to create new shortlink</a>*</p>
  <% }; %>

  <ul>
    <% for (var key in urls)  { %>
      <li> <%= key %> - <%= urls[key].longURL %> </li>
      <p>--><a href="/urls/<%=key%>">Edit</a></p>

      <form method="POST" action= <%="/urls/" + key + "/delete" %> > <input type="Submit" value="Delete"> </form>
    <% }; %>
  </ul>

</body>
</html>





